{
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "quoteProps": "preserve",
  "proseWrap": "preserve",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none"
}